doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/static/css/spectre.min.css')
    link(rel='stylesheet', href='/static/css/spectre-icons.min.css')
    link(rel='stylesheet', href='/static/css/custom.css')
    link(rel='icon', type='image/png', href='/static/images/favicon.png')

    title #{title} | Crypto News
  body
    div.container
      header.navbar.bg-secondary
        section.navbar-section
          a(class=current_element == "new" ? "active" : "", href='/new') new
          span.text-primary.text-primary='|'
          a(class=current_element == "comments" ? "active" : "", href='/comments') comments
          span.text-primary='|'
          a(class=current_element == "show" ? "active" : "", href='/show') show
          span.text-primary='|'
          a(class=current_element == "ask" ? "active" : "", href='/ask') ask
          if current_element == 'shownew'
            span.text-primary='|'
            a.active(href='/shownew') shownew
          if current_element == 'asknew'
            span.text-primary='|'
            a.active(href='/asknew') asknew
          if current_element == 'submissions'
            span.text-primary='|'
            a.active(href='#')=title
          if current_element == 'usercomments'
            span.text-primary='|'
            a.active(href='#')=title
        section.navbar-center
          a(href='/' class='logo')
            img(src='/static/images/favicon.png')
        section.navbar-section
          a(class=current_element == "submit" ? "active" : "", href='/submit') Submit
          span.text-primary='|'
          if !user
            a(class=current_element == "login" ? "active" : "", href='/login') Login
          else
            a(class=current_element == "profile" ? "active" : "", href='/user/' + user.username) #{user.username} (#{user.karma})
            span.text-primary='|'
            a(href='/logout') Logout
      block content