mixin loginRegisterForm(action)
  form(action='/' + action, method='post')
    div.form-group
      label.form-label(for= action + '-username') Username
      input.form-input(type='text', name='username', id= action + '-username', placeholder='Type your username', required)
    div.form-group
      label.form-label(for= action + '-password') Password
      input.form-input(type='password', name='password', id= action + '-password', placeholder='Type your password', required)
    div.form-group: button.btn(type='submit') #{action}

mixin notificationBlock(elements, type)
  if elements && elements.length > 0
    div(class='toast toast-' + type)
      each val in elements
        p=val

mixin storyRender(story, user_vote_mapping, can_downvote, n, current_page, page_size)
  -var inc = n + ((current_page - 1) * page_size);
  p.text
    if n
      span.inc #{inc}.
    if (user && user.username != story.user.username) || !user
      span.voter
        if !user_vote_mapping[story._id]
          a.up(href='/stories/' + story._id + '/vote', title='Vote up')!='&#9650;'
          if can_downvote
            a.down(href='/stories/' + story._id + '/downvote', title='Vote down')!='&#9660;'
    else if user
      span.voter: span.me='*'
    span.link
      if story.url
        a(href=story.url, target='_blank')=story.title
      else
        a(href='/stories/' + story._id)=story.title
    if story.base_url
      small.base: a.text-gray(href='/stories/from/' + story.base_url)=story.base_url
  p.meta(class= n ? 'spacer' : '')
    small.points #{story.karma} points
    small.author by 
      a(href='/user/' + story.user.username)=story.user.username
    small.date: a(href='/stories/' + story._id)=moment(story.created_on).fromNow()
    if user_vote_mapping[story._id]
      small.sep='|'
      small.unvote: a(href='/stories/' + story._id + '/unvote', title='Unvote')!='unvote'
    small.sep='|'
    small.comments: a(href='/stories/' + story._id) #{`${story.comment_count} comment${story.comment_count == 1 ? '' : 's'}`}

mixin commentRender(comment, comments_vote_mapping, can_downvote, is_list, level)
  - var base_url = '/stories/' + comment.story._id; 
  div.column.col-12(class='level-' + level)
    p.meta.comment
      if (user && user.username != comment.user.username) || !user
        span.voter
          if !comments_vote_mapping[comment._id]
            a.up(href='/comments/' + comment._id + '/vote', title='Vote up')!='&#9650;'
            if can_downvote
              a.down(href='/comments/' + comment._id + '/downvote', title='Vote down')!='&#9660;'
      else if user
        span.voter: span.me='*'
      small.author: a(href='/user/' + comment.user.username)=comment.user.username
      small.date: a(href=base_url + '/comments/' + comment._id)=moment(comment.created_on).fromNow()
      if comments_vote_mapping[comment._id]
        small.sep='|'
        small.unvote: a(href='/comments/' + comment._id + '/unvote', title='Unvote')='unvote'
      if (user && user.username == comment.user.username)
        if !comment.deleted
          small.sep='|'
          small.unvote: a(href='/comments/' + comment._id + '/delete')='delete'
      if is_list
        small.sep='|'
        small.parent-link
          if comment.parent
            a(href=base_url + '/comments/' + comment.parent)='parent'
          else
            a(href='/stories/' + comment.story._id)='parent'
        small.sep='|'
        small.story-link on:
          a(href='/stories/' + comment.story._id) #{comment.story.title}
    p.comment-text(class=comment.deleted ? 'deleted' : '')!=markdown.renderInline(comment.text)
    if !is_list && level < 12
      p.reply: small: a(href=base_url + '/comments/' + comment._id)='reply'

mixin pager(baseUrl, nextPage)
  div.columns.spacer: div.column.col-12: a(href=baseUrl + '?page=' + nextPage)='Load more'

mixin commentTree(comments, comments_vote_mapping, can_downvote, level)
  each comment in comments
    +commentRender(comment, comments_vote_mapping, can_downvote, false, level)
    +commentTree(comment.children, comments_vote_mapping, can_downvote, level + 1)

mixin addCommentForm(storyId, parentId, label)
  form.form-horizontal(action='/comments/' + storyId, method='post')
    div.form-group
      div.column.col-12
        if parentId
          input(type='hidden', value=parentId, name='commentId', id='commentId')
        textarea.form-input(name='text', id='text', placeholder='Write something amazing that you\'d like to share', rows=4)
    div.form-group
      div.column.col-12
          button.btn(type='submit')=label